---
layout: default
title: Dorkbot Manchester
---
{% assign curDate = site.time | date: '%s' %}
{% assign latestEvent = site.posts.first %}
{% assign latestEventStartDate = post.date | date: '%s' %}
{% if latestEventStartDate >= curDate %}
<h2>Next Event</h2>
    {% assign post = latestEvent %}
    {% assign content = post.content %}
    {% include post.html %}
{% else %}
<h2>Next Event</h2>
<p> Our next event has not been announced yet. Please check back soon.  </p>

<p>Our last event was <a href="{{ latestEvent.url }}">Dorkbot #{{ latestEvent.title }}</a> and took place on {{ latestEvent.date | date: "%-d %B %Y" }}.
</p>

{% endif %}