---
layout: default
---
{% assign post = page %}

<h1>
    Dorkbot #{{ post.title}}
</h1>

<dl>
{% if post.start %}<dt>When:</dt> <dd>{{ post.start | date:"%H:%M" }}-{{ post.end | date:"%H:%M" }}, {{ post.start | date:"%a %b %-d %Y" }}</dd></p>{% endif %}
{% if post.where %}<dt>Where:</dt><dd>{{ site.data.locations.[post.where].where_html }} (directions below)</dd>{% endif %}
</dl>
{{ post.content }}
{{ site.data.locations.[post.where].directions }}


<div id="paginator">
    {% if post.previous.url %}
        <a href="{{ post.previous.url }}">
        &laquo; Previously</a>
    {% endif %}
    |
    {% if post.next.url %}
        <span class="more">
        <a href="{{ post.next.url }}">
        After this &raquo; </a>
        </span>
    {% endif %}
</div>
